# ==========================================
# macOS (Системные файлы и метаданные)
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# ==========================================
# Windows (Кэш эскизов и служебные файлы)
# ==========================================
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/

# ==========================================
# Рабочие файлы
# ==========================================
2_механика_загрузки.*
1_теория.*
work.*